.table-container {
    max-width: 60%;
    overflow-x: auto;
    border: 1px solid #ddd; /* Add any additional styling you need */
    margin-top: 10px; /* Adjust as needed */
    margin-bottom: 10px; /* Adjust as needed */
  }
  
  .scroll-buttons {
    margin-bottom: 10px; /* Adjust as needed */
  }